.dashboard-main{
    width: 100%;
    height: 100vh;
}
.dashboard-content{
    height: auto;
    min-height: 100vh;
    padding-bottom: 20px;
    background-color: rgb(226, 226, 226);
   padding: 0;
}