.plan-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.plan-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.plans {
    height: 70vh;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.plan-card {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 14px;
  padding: 20px;
  width: 280px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.plan-card h3 {
  margin-bottom: 10px;
}

.plan-card .price {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0;
}

.plan-card ul {
  list-style: none;
  padding: 0;
  margin: 15px 0;
}

.plan-card ul li {
  margin: 6px 0;
  font-size: 14px;
}

.plan-card button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  background: #111;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.plan-card button:disabled {
  background: #777;
  cursor: not-allowed;
}



.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}
