.staff-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-family: system-ui;
}

h2 {
  margin-bottom: 16px;
  text-align: center;
}

/* TABS */
.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px 18px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #f8f8f8;
  cursor: pointer;
  font-weight: 500;
}

.tabs button.active {
  background: #000;
  color: #fff;
}

/* CARD */
.card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
  overflow: hidden;
  overflow-x: scroll;
}

/* FORM */
.card input {
  width: 90%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.card button {
  padding: 10px 16px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #f3f3f3;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #eee;
}
.btn {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 13px;
  margin-right: 6px;
}

.btn.reset {
  background: #ff9800;
  color: #fff;
}

.btn.delete {
  background: #e53935;
  color: #fff;
}
